body {
    margin: 0px;
    background: url("../../images/Gym1.jpg") no-repeat;
    background-size: cover;
    max-height: 100%;
    background-size: 100% 850px;
   }
   header{
       margin: 0px;
       margin-bottom: 20px;
       /* padding-bottom: 40px; */
       /* border: solid black 1px; */
       height: 100px;
       box-shadow: 3px 0px 15px rgb(51, 51, 51);
   }
   header h1 {
       float: left;
       /* border: solid black 1px; */
       margin: 15px 0px 0px 200px;
       font-size: 50px;
       color: #6283fd;
       font-family: 'Archivo Black', sans-serif;}
   #formBs{
       margin-right: 120px;
       font-family: 'Quicksand', sans-serif;
   }
   .formB{
       transition: .4s;
       border: solid black 2px;
       text-decoration: none;
   
       border: solid white 1px;
       padding: 5px 8px;;
       font-size: 18px;
       float: right;
       margin: 30px;
       margin-top: 30px;
   }
   #formBs a:hover {
       background: white;
       color: black;
   }
   #nav2{
       font-family: 'Quicksand', sans-serif;
       text-align: center;
   }
   #nav2 a:hover{
       text-decoration: underline;
   }
   .viewB{
       color: white;
       margin: 20px;
       margin-top: 10px;
       padding: 10px;
       font-size: 20px;
       text-decoration: none;
       transition: .2s;
   }
   header a {
       color: white;
   }


#myworkouts{
    box-shadow: 0px 0px 15px rgb(51, 51, 51);
    margin: 10px 75px;
    padding: 10px;
    background: white;
}
#workoutBox{
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    padding: 8px;
    margin: 30px 75px;
    padding-left: 45px;
    background: white;

}


/* modal style */
#modalText {
    font-family: 'Times New Roman', Times, serif
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.ROther {
    padding-left: 12px;
}
.routine{
    margin: 12px;
    float: left;
}
.Mtype{
    position: relative;
    bottom: 0px;
}



/* modal Routine Styles */

#ex1{
    overflow: auto
}


.view:hover{
    font-size: 18px;
}


@media only screen and (max-width: 1024px) {
    body {
        /* margin: 0px; */
        background: url("../../images/gym2.jpg") no-repeat;
        background-size: cover;
        /* max-height: 100%;
        background-size: 100% 850px; */
    }
    #myworkouts {
        margin: 70px 40px;
    }
    #workoutBox {
        margin: 10px;
    }
    header h1{
        text-align: center;
        margin-top: 5px;
    }
    #formBs{
        margin-right: 10px;
    }
    
}
@media only screen and (max-width: 845px) {
    body {
        /* margin: 0px; */
        background: url("../../images/gym2.jpg") no-repeat;
        background-size: cover;
        /* max-height: 100%;
        background-size: 100% 850px; */
    }
    #formBs {
        text-align: center;
        
    }
    .formB{
        display: block;
    }
    .section {
        margin: 10px;
    }
    header {
        text-align: center;
        height: 150px;
    }
    
    header h1 {
        text-align: center;
        margin-right: 500px;

    }
    
    
   
}
@media only screen and (max-width: 400px) {
    body {
        /* margin: 0px; */
        background: url("../../images/gym2.jpg") no-repeat;
        background-size: cover;
        /* max-height: 100%;
        background-size: 100% 850px; */
    }
    header h1{
        margin: 0px 75px;
    }
    
    .formB{
        text-align: center;
        display: inline-block;
        margin: 10px;
        padding: 5px;
    }
    #calendar{
        margin: 20px;
    }
    
}